{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
	<style>
		body{
			border-top: 4px solid #E47541;
			/*min-height: 5000px;
			/*min-width: 5000px;*/
			background: url('{%static "img/imageb.jpg"%}') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: conver;
			background-size: cover;
		}
		

		
	</style>



{% endblock %}

{% block content %}

<div class="jumbotron" style = 'background-color:white;'>
      <div class="container">
      <div class = 'col-sm-6'>
        <h1>Hello Technies!!</h1>
        <p>Are you a Programming Geek?? You are at the right place!! </p>
        <p><a class="btn btn-success btn-lg btn-block"  href="#signup" role="button">Start Today &raquo;</a></p>
       </div>
       <div class = 'col-sm-6'>
        
        <img src ="{% static 'img/image4.jpg' %}" class='img-responsive' />
        
       </div>
      </div>
    </div>

<div class = 'container' style = 'text-align:center;' id='signup'>
<div class='col-sm-6 col-sm-offset-3'>
<i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
	<h1 style = "color:black ;">Unlock First</h1>
	<form class='form-horizontal' method="POST" action=""> {% csrf_token %}
		<div class='form-group form-group-lg'>
		{% if form.email.errors %}
		 {% for err in form.email.errors %}
		 <div class="alert alert-danger" role="alert">{{ err }}</div>
		<div class="alert alert-danger" role="alert">Your Email is required</div>
		{% endfor %}
		{% endif %}
				<div class ="input-group">
		<input class='form-control' type ="email" name="email" placeholder = "Your email..."/>
			<span class ="input-group-btn">
		<input type='submit' value='Join' class='btn btn-success btn-lg'/>
			</span>
		</div>
		</div>
	</form>
	<p class='lead'> Sign up Here. </br> Get First News on Content! </p>
</div>
</div>

<div class = 'row featured-row'>
<div class='col-sm-12'>


 <div class='col-sm-3 col-sm-offset-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>
 <div class='col-sm-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>

 

</div>

</div>

<div class = 'row featured-row'>
<div class='col-sm-12'>

<div class='col-sm-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>
 <div class='col-sm-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>

 <div class='col-sm-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>
 <div class='col-sm-3'>
	<i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
	<h2>Feature </h2>
	<p class ='lead'>
	Some Feature Text goes here
	</p>
 </div>

 
</div>
</div>





{% endblock %}




